.testimonials-section {
  background: #191f3a;
  padding-bottom: 50px;
  overflow-x: hidden;
}
.testi-item {
  width: calc((100% / 3) - 30px);
  margin: 0 15px 30px;
  border: 2px solid #0c1023;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}

.testi-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}
.testi-author h3 {
  font-size: 16px;
  text-transform: capitalize;
  margin: 0 0 3px;
}
.testi-author span {
  display: block;
  font-size: 14px;
  text-emphasis: none;
}
.testi-author img {
  max-width: 60px;
  border-radius: 50%;
  border: 3px solid #0c1023;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
  transition: border-color 0.3s ease;
}
.testi-item:hover .testi-author img {
  border-color: #eaa023;
}
.testi-item:hover {
  box-shadow: 0 6px 8px rgb(54, 54, 54);
  transform: scale(1.05);
}
.testi-item p {
  margin: 30px 0;
}
.testi-ratings {
  margin: 15px 0;
}
@media (max-width: 768px) {
  .testi-item {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .testi-item {
    width: 100%;
  }
}
