.home-section {
  /* background: #eaa023; */
  position: relative;
  overflow: hidden;
}
.home-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.7;
  z-index: -1;
}
.home-section .home-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: fixed center;
  object-fit: cover;
  z-index: -2;
  animation: zoomInOut 20s ease infinite;
}
@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
img {
  vertical-align: middle;
  max-width: 100%;
}
.min-vh-100 {
  min-height: 100vh;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items {
  align-items: center;
}
.home-section .min-vh-100 {
  padding: 100px 0;
  align-items: center;
}
.home-text {
  padding: 0 15px;
  max-width: 700px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.home-text h1 {
  font-size: 60px;
  color: #fff;
  font-family: "Pattaya", sans-serif;
  line-height: 75px;
  letter-spacing: 2px;
  margin: 0 0 5px;
}
.home-text p {
  margin: 0 0 30px;
  color: #fff;
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  background: transparent;
  border: 2px solid #eaa023;
  text-decoration: none;
  color: #eaa023;
  border-radius: 50px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: #eaa023;
  color: #fff;
}
@media (max-width: 768px) {
  .home-text h1 {
    font-size: 50px;
    line-height: 65px;
  }
}

@media screen and (max-width: 575px) {
}
@media (max-width: 768px) {
}
