.about-section {
  background: #191f3a;
  overflow-x: hidden;
}
.sec-padding {
  padding: 80px 0;
}
.section-title {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 3px;
}
.section-title h2::before {
  content: attr(data-title);
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "Quicksand", sans-serif;
  color: #eaa023;
}
.about-text,
.about-img {
  width: 50%;
  padding: 0 15px;
}
.about-text h3 {
  font-size: 30px;
  text-transform: capitalize;
  margin: 0 0 15px;
  font-family: "Pattaya", sans-serif;
  letter-spacing: 4px;
}
.about-text p {
  font-size: 16px;
  margin: 0 0 15px;
}
.btn {
  margin: 15px 0 0;
}
.about-img img {
  width: 100%;
  border-radius: 10px;
}
.about-img .img-box::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  border: 3px solid #eaa023;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  animation: spin01 10s linear infinite;
}
@keyframes spin01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about-img .img-box {
  position: relative;
}
.about-img .img-box h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #191f3a;
  width: 100%;
  max-width: 250px;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .about-text,
  .about-img {
    width: 100%;
  }
  .about-img {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .about-text,
  .about-img {
    width: 100%;
  }
  .about-img {
    margin-top: 40px;
  }
}
