* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
body {
  line-height: 1.5;
  color: whitesmoke;
  /* overflow-x: hidden; */
  width: 100%;
  display: flex;
}
html {
  overflow-x: hidden;
}
